* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #222;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

button {
  border: none;
  color: white;
  padding: 4px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #75617e;
  border-radius: 4px;
  flex: auto;
}

button:hover {
  background-color: #594873;
}

input {
  border: transparent;
  color: white;
  background-color: #75617e;
  padding: 4px;
  margin: 0px 5px;
  border-radius: 4px;
}

::placeholder {
  color: #999;
}

input:focus {
  outline: none;
}

.container {
  background-color: #2c2538;
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0px auto;
  outline: 1px solid #fff;
}

#connect-options {
  margin: 20px;
}

#score-panel {
  font-size: 30;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#host-score, #client-score {
  display: inline-block;
  width: 50px;
}
